.pastel-pink {
   --background: oklch(1 0 0);
   --foreground: oklch(39.418% 0.00004 271.152);
   --card: oklch(0.9862 0.0142 84.58);
   --card-foreground: oklch(0.13 0.028 261.692);
   --popover: oklch(0.9862 0.0142 84.58);
   --popover-foreground: oklch(0.13 0.028 261.692);
   --primary: oklch(0.79 0.1226 20.19);
   --primary-foreground: oklch(0.985 0.002 247.839);
   --primary-foreground-1: oklch(0.66 0.1226 20.19);
   --primary-foreground-darker: oklch(51.536% 0.10299 20.466);
   --secondary: oklch(0.967 0.003 264.542);
   --secondary-foreground: oklch(0.21 0.034 264.665);
   --muted: oklch(94.949% 0.02515 17.369);
   --muted-foreground: oklch(60.325% 0.00007 271.152);
   --accent: oklch(0.79 0.1226 20.19 / 10%);
   --accent-foreground: oklch(0.21 0.034 264.665);
   --destructive: oklch(0.577 0.245 27.325);
   --border: oklch(51.536% 0.10299 20.466 / 0.2);
   --input: oklch(0.928 0.006 264.531);
   --ring: oklch(0.79 0.1226 20.19);
   --chart-1: oklch(0.646 0.222 41.116);
   --chart-2: oklch(0.6 0.118 184.704);
   --chart-3: oklch(0.398 0.07 227.392);
   --chart-4: oklch(0.828 0.189 84.429);
   --chart-5: oklch(0.769 0.188 70.08);
   --sidebar: oklch(0.985 0.002 247.839);
   --sidebar-foreground: oklch(0.13 0.028 261.692);
   --sidebar-primary: oklch(0.21 0.034 264.665);
   --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
   --sidebar-accent: oklch(0.967 0.003 264.542);
   --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
   --sidebar-border: oklch(0.928 0.006 264.531);
   --sidebar-ring: oklch(0.707 0.022 261.325);
   --selection: oklch(0.79 0.1226 20.19);
   --icon: oklch(0.5 0 0);

   --pastel-1: oklch(0.9747 0.0192 72.58);
   --pastel-2: oklch(0.7216 0.1903 50.15);
   --pastel-3: oklch(0.7116 0.1812 22.84);
   --pastel-4: oklch(0.8241 0.1288 64.69);
   --pastel-5: oklch(0.789 0.1357 50.47);
   --pastel-6: oklch(0.7216 0.1903 50.15);
}
.pastel-green {
   --background: oklch(1 0 0);
   --foreground: oklch(39.418% 0.00004 271.152);
   --card: oklch(99.071% 0.02089 127.559);
   --card-foreground: oklch(0.13 0.028 261.692);
   --popover: oklch(99.071% 0.02089 127.559);
   --popover-foreground: oklch(0.13 0.028 261.692);
   --primary: oklch(0.83 0.1354 129.16);
   --primary-foreground: oklch(0.985 0.002 247.839);
   --primary-foreground-1: oklch(0.7 0.1354 129.16);
   --primary-foreground-darker: oklch(56.093% 0.09821 129.522);
   --secondary: oklch(0.967 0.003 264.542);
   --secondary-foreground: oklch(0.21 0.034 264.665);
   --muted: oklch(96.725% 0.03477 126.603);
   --muted-foreground: oklch(61.671% 0.00007 271.152);
   --accent: oklch(83.127% 0.13641 129.061 / 0.2);
   --accent-foreground: oklch(0.21 0.034 264.665);
   --destructive: oklch(0.577 0.245 27.325);
   --border: oklch(83.127% 0.13641 129.061 / 0.3);
   --input: oklch(0.928 0.006 264.531);
   /* --input: oklch(0.83 0.1354 129.16 / 0.5); */
   --ring: oklch(0.707 0.022 261.325);
   --chart-1: oklch(0.646 0.222 41.116);
   --chart-2: oklch(0.6 0.118 184.704);
   --chart-3: oklch(0.398 0.07 227.392);
   --chart-4: oklch(0.828 0.189 84.429);
   --chart-5: oklch(0.769 0.188 70.08);
   --sidebar: oklch(0.985 0.002 247.839);
   --sidebar-foreground: oklch(0.13 0.028 261.692);
   --sidebar-primary: oklch(0.21 0.034 264.665);
   --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
   --sidebar-accent: oklch(0.967 0.003 264.542);
   --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
   --sidebar-border: oklch(0.928 0.006 264.531);
   --sidebar-ring: oklch(0.707 0.022 261.325);
   --selection: oklch(0.83 0.1354 129.16);
   --icon: oklch(0.51 0 0);

   --pastel-1: oklch(98.668% 0.03058 127.14);
   --pastel-2: oklch(94.632% 0.15443 124.376);
   --pastel-3: oklch(0.83 0.1354 129.16);
   --pastel-4: oklch(85.783% 0.11842 124.696);
   --pastel-5: oklch(75.78% 0.10381 137.017);
   --pastel-6: oklch(84.778% 0.16411 128.346);
}

.pastel-blue {
   --background: oklch(1 0 0);
   --foreground: oklch(39.418% 0.00004 271.152);
   --card: oklch(100% 0.01262 229.265);
   --card-foreground: oklch(0.13 0.028 261.692);
   --popover: oklch(100% 0.01262 229.265);
   --popover-foreground: oklch(0.13 0.028 261.692);
   --primary: oklch(0.7437 0.1205 252.42);
   --primary-foreground: oklch(0.985 0.002 247.839);
   --primary-foreground-1: oklch(78.451% 0.08593 205.135);
   --primary-foreground-darker: oklch(59.608% 0.06749 218.247);
   --secondary: oklch(96.891% 0.00261 230.42);
   --secondary-foreground: oklch(0.21 0.034 264.665);
   --muted: oklch(96.891% 0.00261 230.42);
   --muted-foreground: oklch(60.325% 0.00007 271.152);
   --accent: oklch(89.647% 0.08464 213.84 / 0.1);
   --accent-foreground: oklch(0.21 0.034 264.665);
   --destructive: oklch(0.577 0.245 27.325);
   --border: oklch(61.555% 0.07018 206.735 / 0.2);
   --input: oklch(93.154% 0.00517 229.616);
   --ring: oklch(89.647% 0.08464 213.84);
   --chart-1: oklch(0.646 0.222 41.116);
   --chart-2: oklch(0.6 0.118 184.704);
   --chart-3: oklch(0.398 0.07 227.392);
   --chart-4: oklch(0.828 0.189 84.429);
   --chart-5: oklch(0.769 0.188 70.08);
   --sidebar: oklch(0.985 0.002 247.839);
   --sidebar-foreground: oklch(0.13 0.028 261.692);
   --sidebar-primary: oklch(0.21 0.034 264.665);
   --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
   --sidebar-accent: oklch(0.967 0.003 264.542);
   --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
   --sidebar-border: oklch(0.928 0.006 264.531);
   --sidebar-ring: oklch(0.707 0.022 261.325);
   --selection: oklch(0.7437 0.1205 252.42);
   --icon: oklch(0.5 0 0);

   --pastel-1: oklch(90.661% 0.01626 254.024);
   --pastel-2: oklch(84.991% 0.0547 251.062);
   --pastel-3: oklch(69.722% 0.07132 251.517);
   --pastel-4: oklch(79.147% 0.03003 249.895);
   --pastel-5: oklch(0.7437 0.1205 252.42);
   --pastel-6: oklch(49.145% 0.08152 253.108);
}

.pastel-violet {
   --background: oklch(1 0 0);
   --foreground: oklch(39.418% 0.00004 271.152);
   --card: oklch(100% 0.02453 309.22);
   --card-foreground: oklch(0.13 0.028 261.692);
   --popover: oklch(100% 0.02453 309.22);
   --popover-foreground: oklch(13.152% 0.04129 317.856);
   --primary: oklch(0.773 0.1514 308.03);
   --primary-foreground: oklch(98.421% 0.00344 324.084);
   --primary-foreground-1: oklch(66.902% 0.16072 318.751);
   --primary-foreground-darker: oklch(52.686% 0.13537 320.644);
   --secondary: oklch(96.73% 0.00514 324.619);
   --secondary-foreground: oklch(22.064% 0.05616 327.248);
   --muted: oklch(96.653% 0.00457 313.856);
   --muted-foreground: oklch(60.325% 0.00007 271.152);
   --accent: oklch(80.548% 0.16583 321.51 / 0.1);
   --accent-foreground: oklch(21.587% 0.05381 322.437);
   --destructive: oklch(0.577 0.245 27.325);
   --border: oklch(61.555% 0.07018 206.735 / 0.2);
   --input: oklch(92.674% 0.00916 314.326);
   --ring: oklch(79.81% 0.16212 318.759);
   --chart-1: oklch(0.646 0.222 41.116);
   --chart-2: oklch(0.6 0.118 184.704);
   --chart-3: oklch(0.398 0.07 227.392);
   --chart-4: oklch(0.828 0.189 84.429);
   --chart-5: oklch(0.769 0.188 70.08);
   --sidebar: oklch(98.421% 0.00344 324.084);
   --sidebar-foreground: oklch(0.13 0.028 261.692);
   --sidebar-primary: oklch(0.21 0.034 264.665);
   --sidebar-primary-foreground: oklch(98.421% 0.00344 324.084);
   --sidebar-accent: oklch(96.73% 0.00514 324.619);
   --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
   --sidebar-border: oklch(92.752% 0.0097 320.076);
   --sidebar-ring: oklch(70.657% 0.03823 321.547);
   --selection: oklch(0.773 0.1514 308.03);
   --icon: oklch(49.97% 0.00006 271.152);

   --pastel-1: oklch(95.719% 0.03674 324.353);
   --pastel-2: oklch(79.23% 0.19999 329.096);
   --pastel-3: oklch(70.754% 0.16739 329.785);
   --pastel-4: oklch(73.941% 0.1483 329.809);
   --pastel-5: oklch(68.34% 0.1197 326.756);
   --pastel-6: oklch(69.36% 0.20101 332.329);
}

.pastel-orange {
   --background: oklch(1 0 0);
   --foreground: oklch(39.418% 0.00004 271.152);
   --card: oklch(98.623% 0.01411 84.538);
   --card-foreground: oklch(0.13 0.028 261.692);
   --popover: oklch(98.623% 0.01411 84.538);
   --popover-foreground: oklch(0.13 0.028 261.692);
   --primary: oklch(82.008% 0.11054 77.538);
   --primary-foreground: oklch(98.559% 0.0016 66.223);
   --primary-foreground-1: oklch(67.926% 0.09712 91.492);
   --primary-foreground-darker: oklch(52.668% 0.06429 76.762);
   --secondary: oklch(0.967 0.003 264.542);
   --secondary-foreground: oklch(0.21 0.034 264.665);
   --muted: oklch(96.179% 0.02478 89.21);
   --muted-foreground: oklch(61.671% 0.00007 271.152);
   --accent: oklch(80.679% 0.09557 88.695 / 0.2);
   --accent-foreground: oklch(0.21 0.034 264.665);
   --destructive: oklch(0.577 0.245 27.325);
   --border: oklch(81.083% 0.09701 90.515 / 0.3);
   --input: oklch(93.446% 0.00568 84.451);
   /* --input: oklch(0.83 0.1354 129.16 / 0.5); */
   --ring: oklch(73.322% 0.02252 85.944);
   --chart-1: oklch(0.646 0.222 41.116);
   --chart-2: oklch(0.6 0.118 184.704);
   --chart-3: oklch(0.398 0.07 227.392);
   --chart-4: oklch(0.828 0.189 84.429);
   --chart-5: oklch(0.769 0.188 70.08);
   --sidebar: oklch(0.985 0.002 247.839);
   --sidebar-foreground: oklch(0.13 0.028 261.692);
   --sidebar-primary: oklch(0.21 0.034 264.665);
   --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
   --sidebar-accent: oklch(0.967 0.003 264.542);
   --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
   --sidebar-border: oklch(0.928 0.006 264.531);
   --sidebar-ring: oklch(0.707 0.022 261.325);
   --selection: oklch(82.008% 0.11054 77.538);
   --icon: oklch(51.028% 0.00006 271.152);

   --pastel-1: oklch(98.247% 0.02186 89.788);
   --pastel-2: oklch(88.451% 0.10637 78.943);
   --pastel-3: oklch(80.277% 0.09423 86.813);
   --pastel-4: oklch(82.414% 0.08365 85.605);
   --pastel-5: oklch(74.22% 0.06316 81.349);
   --pastel-6: oklch(77.663% 0.10886 72.592);
}